@charset "UTF-8";

/* モーダル背景（初期は非表示） */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* 半透明黒 */
}

/* モーダルの中身 */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

/* 閉じるボタン */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}